{% extends 'management/base.html' %}

{% block content %}
  <h1>Sucursales</h1>
  {% for branch in branches %}
    <p>{{ branch.name }} - {{ branch.address }}</p>
  {% empty %}
    <p>No hay sucursales disponibles.</p>
    <a href="{% url 'add_branch' %}">➕ Nueva Sucursal</a><br>
  {% endfor %}

  <h1>Ejemplares de libros</h1>
  {% for copy in book_copies %}
    <p>{{ copy.book.title }} (Condición: {{ copy.condition }})</p>
  {% empty %}
    <p>No hay copias disponibles.</p>
    <a href="{% url 'add_book_copy' %}">➕ Nueva Copia</a><br>
  {% endfor %}

  <h1>Préstamos Activos</h1>
  {% for loan in active_loans %}
    <p>{{ loan.borrower.username }} - {{ loan.copy.book.title }} hasta {{ loan.due_date }}</p>
  {% empty %}
    <p>No hay préstamos activos.</p>
    <a href="{% url 'add_book_loan' %}">➕ Nuevo Préstamo</a><br>
  {% endfor %}

  
<h1>Reservas</h1>
{% for reservation in reservations %}
  <p>{{ reservation.user.username }} reservó "{{ reservation.book.title }}" en {{ reservation.branch.name }} (Estado: {{ reservation.get_status_display }})</p>
{% empty %}
  <p>No hay reservas registradas.</p>
  <a href="{% url 'add_reservation' %}">➕ Nueva Reserva</a>

{% endfor %}
{% endblock %}


